<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>聊天</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/poplayer.css">
</head>

<body>
    <div class="main-chat">
        <div class="header">
            <img src="<%= user.avatar%>" >
            <div class="chat_close" title='退出登录'> × </div>
            <div id="userID"><%= user.username%></div>
            <input type="hidden" value="<%= user.username%>"/>
        </div>

        <div id="chat-list">
            <div class="chat03">
                <div class="chat03_title">
                    <label class="chat03_title_t">
                        好友列表</label>
                </div>
                <div class="chat03_content">
                    <ul>
                    </ul>
                </div>

            </div>
        </div>

        <div class="search-wrapper">
                <div class="input-holder">
                    <input type="text" class="search-input" placeholder="添加好友" name='addfriend[name]'>
                    <button class="search-icon" >
                        <span></span>
                    </button>
                </div>
        </div>
    </div>

    <div class="logo">
        从今天起，做一个明媚的女子，不倾国，不倾城，只倾其所有去过自己想要的生活。
    </div>

    <script src="/js/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/js/xss.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/poplayer.js"></script>
    <script src="/js/chat.js"></script>

</body>